{% extends 'base.html' %}
{% block content %}

  <div class="columns is-mobile is-centered tab-area">
    <div id="suggestions">
      <span id="suggestionsHeader">Suggestions:</span>
      <span class="suggestButton suggestGroup" id="geneSuggestions">Similar genes</span>
      <span>|</span>
      <span class="suggestGroup" id="speciesSuggestions">
        Other species: 
        {% for spec in ["mouse", "lemur", "human"] %}
          {% if species != spec %}
          <span class="speciesSuggestion suggestButton" id="suggest{{ spec }}">{{ spec|capitalize }}</span>
          {% endif %}
        {% endfor %}
      </span>
    </div>
  </div>

  <!-- Tabs enable user to visualise heat map with normalisation method and hierachical clustered -->
  <div class="columns is-mobile is-centered tab-area" style="margin-top: 0px;">
    <div class="field column is-one-quarter">
      <label class="label">Data values</label>
      <div class="control">
        <div class="tabs is-toggle is-centered">
          <ul>
            <li id="cpmTab" class="is-active">
              <a id="CPMOnClick">counts per million</a>
            </li>
            <li id="logTab">
              <a id="log10OnClick">Log10 [cpm]</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="field column is-one-quarter">
      <label class="label">Cell type/gene order</label>
      <div class="control">
        <div class="tabs is-toggle is-centered">
          <ul>
            <li id="originalOrderTab" class="is-active">
              <a id="originalOnClick">Curated</a>
            </li>
            <li id="hierachicalTab">
              <a id="hClusterOnClick">Hierachical clustering</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Plots below -->
  <div class="container" id="dataDisplay">
    <div id="h5_data_plot"></div>   
    <div id="scatter_plot"></div>
  </div>

  <!-- tooltip attemp -->
  <div id="tooltip" display="none" style="position: absolute; display: none;"></div>



  <script src="/js/scatterPlot.js"></script>
  <script src="/js/heatmapByCelltype.js"></script>

{% endblock %}
