.plot_container {
    padding: 10px;
}

.tab-area {
    margin-top: 120px;
    text-align: center;
}

.P:hover,.E:hover,.m:hover {
    color:rgb(22,132,212);
}

footer{
    padding: 1rem 4rem 1rem !important;
}