.plot_container {
    padding: 10px;
}

.tabs {
    margin-top: 30px;
    text-align: center;
}

.navbar {
    background-color: rgb(25,62,90);
}

.title {
    color: white;
}

.button.is-ghost {
    color:white;
}
.button.is-ghost:hover {
    color:white;
}