<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Escellearn</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
		<link rel="stylesheet" href="/css/about.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
  </head>
  <body style="min-height: 100vh;">
  <!-- Navigation Bar -->
  <nav class="navbar card px-3" >
    <div class="navbar-brand">
      <div class="navbar-item">
        <img src="./logo.png" style="max-height:2.5rem"/>
      </div>
	  <!-- a navbar burger that only display when the page size is < 1024px -->
	  <a role="button" class="navbar-burger" id="burger">
		<span aria-hidden="true"></span>
		<span aria-hidden="true"></span>
		<span aria-hidden="true"></span>
	  </a>
    </div>
	<div class="navbar-menu" id="nav-links">
		<div class="navbar-end">
			<a class="navbar-item is-active has-text-link has-background-white-ter" onclick="window.location.href='/'">
				<b>About</b>
			</a>
			<a class="navbar-item" onclick="window.location.href='/dataExplore'">     
				<b>Explore Data</b>
			</a>
			<a class="navbar-item" onclick="window.location.href='/userGuide'">
				<b>User Guide</b>
			</a>
			<a class="navbar-item" onclick="window.location.href='/resources'">     
				<b>Resources</b>
			</a>
			<a class="navbar-item" onclick="window.location.href='/package'">     
				<b>Install Package</b>
			</a>
		</div>
	</div>
  </nav>
  <!-- Tabs enable user to visualise heat map with normalisation method and hierachical clustered -->
  <section class="hero is-small" style="background-color:#f5f8fa; min-height: 80vh;">
	<div class="hero-body">
		<div class="content p-4">
			<div class="contenttext">
				<p class="title is-size-4">
					Explore and Visualise Single Cell Altas Data in Murine Neonatal Lung
				</p>
				<p class="subtitle has-text-justified mt-auto is-italic">
				Single cell RNA sequencing has emerged as a cutting-edge technology
				to provide insights into the transcriptome of a tissue at single cell level. 
				Here, we present 'Escellearn', providing heatmap visualisation of 
				time dependent gene expression in different cell types with an 
				easy-to-use interface. The portal will be demonstrated as a tool to 
				explore the compressed dataset from a study about immune cell development in neonatal lung atlas.									
				</p>
				<button class="button is-success is-rounded" onclick="window.location.href='/userGuide'">User Guide ></button>
				<button class="button is-success is-outlined is-rounded mx-4" onclick="window.location.href='/dataExplore'">Explore Now</button>
				<div class="my-4">
					<p class="title is-size-5">
						Typical Questions and commands you can get solutions from this portal: 
					</p>
					<p class="subtitle is-size-6 has-text-justified mt-auto is-italic has-text-info">
						- What is the expression level of a gene (or a list of genes)?
						<br>
						- Does cell type A express gene X more than cell type B?
						<br>
						- Is expression of gene A higher earlier in development or later?
						<br>
						- What are the marker genes of a specific celltype (e.g. B cell / Car4+ capillaries) ? 
						<br>
						- Given 2 genes of interest, show a scatter plot that compare their expression level among all celltypes
					</p>
				</div>
			</div>
			<div class="about">
				<img src="./about_img.png"/>
			</div>
		</div>
	</div>
  </section>
{% include 'footer.html' %}
<script>
	// mobile menu & navbar burger
	$("#burger").click(function() {
		const navMenu = $("#nav-links");
		if (navMenu.hasClass('is-active')) {
			navMenu.removeClass('is-active');
		} else {
			navMenu.addClass('is-active');
		}
	});
</script>
</body>
</html>