<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Single Cell Compressed Atlas Webportal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
  </head>
  <body>
  <!-- Navigation Bar -->
  <nav class="navbar is-fixed-top has-shadow is-spaced is-light">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="title is-5">Single Cell Compressed Atlas of the Lung</h1>
      </div>
    </div>
    <div class="navbar-start">
    {% if highlight == 'home_button' %}
      <a href="http://127.0.0.1:5000/" class="button is-ghost has-text-info ">
    {% else %}
      <a href="http://127.0.0.1:5000/" class="button is-ghost has-text-grey-darker ">
    {% endif %}
        By Celltype
      </a>
    {% if highlight == 'page2_button' %}
      <a href="http://127.0.0.1:5000/heatmap_by_timepoints" class="button is-ghost has-text-info">
    {% else %}
      <a href="http://127.0.0.1:5000/heatmap_by_timepoints" class="button is-ghost has-text-grey-darker">
    {% endif %}
        By Dataset
      </a>
    {% if highlight == 'page3_button' %}
      <a href="http://127.0.0.1:5000/unified" class="button is-ghost has-text-info">
    {% else %}    
      <a href="http://127.0.0.1:5000/unified" class="button is-ghost has-text-grey-darker">
    {% endif %}     
        Unified(Timepoint&Dataset)
      </a>
    </div>
    <div class="navbar-end">
      <div class="field has-addons">
        <div class="control">
          {% if search_box == 'Car4,Vwf,Col1a1,Ptprc,Ms4a1' %}
          <input class="input is-info" id="searchGeneName" type="text" value={{search_box}} placeholder="gene1,gene2,gene3">
          {% else %}
          <input class="input is-info" id="searchGeneName" type="text" value={{search_box}} placeholder="gene">
          {% endif %}
        </div>
        <!-- <div class="select is-multiple">
          <select multiple size="8" id="matchNames">
            
          </select>
        </div> -->
        <div class="control">
          <a class="button is-info" id="searchOnClick">
            <i class="fas fa-search"></i>
          </a>
        </div>
      </div>
    </div>
  </nav>
  <!-- Tabs enable user to visualise heat map with normalisation method and hierachical clustered -->
  <div class="columns is-mobile is-centered tab-area">
    <div class="field column is-one-quarter">
      <label class="label">Data values</label>
      <div class="control">
        <div class="tabs is-toggle is-centered">
          <ul>
            <li id="cpmTab" class="is-active">
              <a id="CPMOnClick">CPM(count/million)</a>
            </li>
            <li id="logTab">
              <a id="log10OnClick">Log10[CPM]</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="field column is-one-quarter">
      <label class="label">Cell type ordering</label>
      <div class="control">
        <div class="tabs is-toggle is-centered">
          <ul>
            <li id="originalOrderTab" class="is-active">
              <a id="originalOnClick">Original</a>
            </li>
            <li id="hierachicalTab">
              <a id="hClusterOnClick">Hierachical Clustered</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% block content %}
  {% endblock %}
</body>
</html>