<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Escellearn</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://use.fontawesome.com/releases/v6.2.0/css/all.css" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
  </head>
  <body>
  <!-- Navigation Bar -->
  <nav class="navbar card px-3">
      <div class="navbar-brand">
        <div class="navbar-item">
          <img src="./logo.png" style="max-height:2.5rem"/>
        </div>
      </div>
      <div class="navbar-end">
        <a class="navbar-item" onclick="window.location.href='/'">
          About
        </a>
        <a class="navbar-item is-active has-text-link has-background-white-ter" onclick="window.location.href='/dataExplore'">     
          Explore Data
        </a>
        <a class="navbar-item" onclick="window.location.href='/userGuide'">
          User Guide
        </a>
        <a class="navbar-item" onclick="window.location.href='/resources'">     
          Resources
        </a>
        <a class="navbar-item" onclick="window.location.href='/package'">     
          Install Package
        </a>
    </div>
  </nav>
  <!-- Tabs enable user to visualise heat map with normalisation method and hierachical clustered -->
  <div class="container">
    <div class="block">
      <div class="tabs is-centered is-boxed mt-6">
        <ul>
          <li id="tabGeneral" class="is-active">
            <a>
              <span class="icon is-small"><i class="fa-sharp fa-solid fa-minimize"></i></span>
              <span>Compressed</span>
            </a>
          </li>
          <li id="tabDataset">
            <a>
              <span class="icon is-small"><i class="fa-solid fa-layer-group"></i></span>
              <span>With Dataset</span>
            </a>
          </li >
          <li id="tabUnified">
            <a>
              <span class="icon is-small"><i class="fa-solid fa-timeline"></i></span>
              <span>Development(by Gene)</span>
            </a>
          </li>
          <li id="tabUnifiedByCell">
            <a>
              <span class="icon is-small"><i class="fa-solid fa-timeline"></i></span>
              <span>Development(by Celltype)</span>
            </a>
          </li>
          <li id="tabMarker">
            <a>
              <span class="icon is-small"><i class="fa-sharp fa-solid fa-flag"></i></span>
              <span>Marker Genes</span>
            </a>
          </li>
        </ul>
      </div>
    </div>   
    <div class="block">
        <div class="columns">
          <div class="column is-one-fifth">
              <div class="is-hidden my-2" id="select_celltype">
                <div class="field">
                  <label class="label">Select Cell Type</label>
                  <div class="box">
                    <div class="block" style="height:400px; overflow-y:scroll" id="celltypeFilter" >
                      <div id="celltype_selection" class="control">
                  
                      </div>
                    </div>
                    <div class="block">
                      <button class="button is-small is-info is-outlined" id="clearOnClick">CLEAR</button>
                      <button class="button is-small is-info is-outlined" id="applyOnClick">PLOT</button>
                    </div>
                  </div>  
                </div>
              </div>
              <div class="field my-2" id="multiple_genes">
                <label class="label">Search for multiple genes</label>
                <div class="field">
                  <div class="control">
                    <textarea class="textarea" id="listGenes" type="text" placeholder="e.g.'Car4,Col1a1...'"></textarea>
                    <!-- <input class="input" id="listGenes" type="text" placeholder="e.g.'Car4,Col1a1...'"> -->
                  </div>
                </div>
                <div class="field is-grouped">
                  <div class="control">
                    <button class="button is-info" id="searchOnClick_list">Submit</button>
                  </div>
                  <div class="control">
                    <button class="button is-info is-light" id="clearOnClick_list">Clear</button>
                  </div>
                </div>
              </div>
              <div class="field is-hidden my-2" id="single_gene">
                <label class="label">Search for ONE gene</label>
                <div class="field has-addons">
                  <div class="control">
                      <a class="button is-info" id="searchOnClick_single">
                        <i class="fas fa-search"></i>
                      </a>
                  </div>
                  <div class="control">
                    <input class="input" id="singleGene" type="text" placeholder="e.g.'Col1a1'">
                  </div>
                </div>
              </div>
              <div class="field is-hidden" id="selectCelltypeUnified">
                <label class="label">Select Cell Type</label>
                <div class="control">
                  <div class="select" style="width:80%;">
                    <select id="celltypeSelection" style="width:100%;">
                      
                    </select>
                  </div>
                </div>
              </div>
              <div class="field" id="plotType">
                <label class="label">Plot type</label>
                <div class="control">
                  <div class="select" style="width:80%;">
                    <select id="selectPlotType" style="width:100%;">
                      <option value="heatmap" selected>Heatmap</option>
                      <option value="dot">Dot Plot</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="field" id="dataType">
                <label class="label">Data type</label>
                <div class="control">
                  <div class="select" style="width:80%;">
                    <select id="selectDataType" style="width:100%;">
                      <option value="cpm" selected>CPM(counts/million)</option>
                      <option value="log">Log10 transformed</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="field" id="dataOrder">
                <label class="label">Data order</label>
                <div class="control">
                  <div class="select" style="width:80%;">
                    <select id="selectDataOrder" style="width:100%;">
                      <option value="original">Original</option>
                      <option value="clustered">Hierachical Clustered</option>
                    </select>
                  </div>
                </div>
              </div>
          </div>
            <div class="column">  
                {% include 'explore_info.html' %}  
                <!-- Display Plots belong this section -->
                <!-- hm: heatmap -->
                <!-- dp: dot plot -->
                <div class="block">
                  <div class="box mx-3 my-3" id="hm_compressed"></div>
                  <div class="box mx-3 my-3 is-hidden" id="dp_compressed"></div>
                  <div class="box mx-3 my-3" id="scatter_plot"></div>
                  <div class="box mx-3 my-3 is-hidden" id="hm_dataset">
                    <div id="dataset_1"></div>
                    <div id="dataset_2"></div>
                    <div id="dataset_3"></div>
                  </div>
                  <div class="box mx-3 my-3 is-hidden" id="dp_dataset">
                    <div id="dp_dataset_1"></div>
                    <div id="dp_dataset_2"></div>
                    <div id="dp_dataset_3"></div>
                  </div>
                  <div class="box mx-3 my-3 is-hidden" id="hm_unified_gene"></div>
                  <div class="box mx-3 my-3 is-hidden" id="dp_unified_gene"></div>
                  <div class="box mx-3 my-3 is-hidden" id="hm_unified_cell"></div>
                  <div class="box mx-3 my-3 is-hidden" id="dp_unified_cell"></div>
                  <div class="box mx-3 my-3 is-hidden" id="hm_markers"></div>
                  <div class="box mx-3 my-3 is-hidden" id="dp_markers"></div>
                </div>
            </div>
        </div>
    </div> 
  </div>
  <!-- js file for ajax and generating heatmaps -->
  <script src="../js/ajax-compressed.js"></script>
  <script src="../js/ajax-datasets.js"></script>
  <script src="../js/ajax-unified-gene.js"></script>
  <script src="../js/ajax-unified-cell.js"></script>
  <script src="../js/ajax-markers.js"></script>
  <!-- js files for generating dot plots -->
  <script src="../js/dot-plot-compressed.js"></script>
  <script src="../js/dot-plot-datasets.js"></script>
  <script src="../js/dot-plot-markers.js"></script>
  <script src="../js/dot-plot-unified-gene.js"></script>
  <script src="../js/dot-plot-unified-cell.js"></script>
  <!-- js file for generating scatter plot -->
  <script src="../js/scatter-plot.js"></script>
  <!-- js file for controlling the html elements -->
  <script src="../js/events-controller.js"></script>
</body>
</html>