<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Escellearn</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v6.1.1/css/all.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
  </head>
  <body>
  <!-- Navigation Bar -->
  <nav class="navbar has-shadow is-spaced is-white" >
    <div class="navbar-brand">
      <div class="navbar-item">
        <img src="./logo.png" style="max-height:2.5rem"/>
      </div>
    </div>
    <div class="navbar-end">
		<a class="navbar-item" href="http://127.0.0.1:5000/">
			About
		</a>
		<a class="navbar-item is-active" href="http://127.0.0.1:5000/dataExplore">     
			Explore Data
		</a>
		<a class="navbar-item" href="http://127.0.0.1:5000/userGuide">
			User Guide
		</a>
		<a class="navbar-item" href="http://127.0.0.1:5000/resources">     
			Resources
		</a>
    <a class="navbar-item" href="http://127.0.0.1:5000/package">     
			Install Package
		</a>
    </div>
  </nav>
  <!-- Tabs enable user to visualise heat map with normalisation method and hierachical clustered -->
  <div class="container">
    <div class="block">
      <div class="tabs is-centered is-boxed mt-6">
        <ul>
          <li id="tabGeneral" class="is-active">
            <a>
              <span>Compressed</span>
            </a>
          </li>
          <li id="tabDataset">
            <a>
              <span>With Dataset</span>
            </a>
          </li >
          <li id="tabUnified">
            <a>
              <span>Timepoint Unified (by Gene)</span>
            </a>
          </li>
          <li id="tabUnifiedByCell">
            <a>
              <span>Timepoint Unified (by Celltype)</span>
            </a>
          </li>
          <li id="tabMarker">
            <a>
              <span>Marker Genes</span>
            </a>
          </li>
        </ul>
      </div>
    </div>   
    <div class="block">
        <div class="columns">
          <div class="column is-one-fifth">
              <div class="is-hidden" id="select_celltype">
                <div class="field">
                  <label class="label">Select Cell Type</label>
                  <div class="box">
                    <div class="block" style="height:400px; overflow-y:scroll" id="celltypeFilter" >
                      <div id="celltype_selection" class="control">
                  
                      </div>
                    </div>
                    <div class="block">
                      <button class="button is-small is-info is-outlined" id="clearOnClick">CLEAR</button>
                      <button class="button is-small is-info is-outlined" id="applyOnClick">PLOT</button>
                    </div>
                  </div>  
                </div>
              </div>
              <div class="field" id="multiple_genes">
                <label class="label">Search for multiple genes</label>
                <div class="field">
                  <div class="control">
                    <textarea class="textarea" id="listGenes" type="text" placeholder="e.g.'Car4,Col1a1...'"></textarea>
                    <!-- <input class="input" id="listGenes" type="text" placeholder="e.g.'Car4,Col1a1...'"> -->
                  </div>
                </div>
                <div class="field is-grouped">
                  <div class="control">
                    <button class="button is-info" id="searchOnClick_list">Submit</button>
                  </div>
                  <div class="control">
                    <button class="button is-info is-light" id="clearOnClick_list">Clear</button>
                  </div>
                </div>
              </div>
              <div class="field is-hidden" id="single_gene">
                <label class="label">Search for ONE gene</label>
                <div class="field has-addons">
                  <div class="control">
                      <a class="button is-info" id="searchOnClick_single">
                        <i class="fas fa-search"></i>
                      </a>
                  </div>
                  <div class="control">
                    <input class="input" id="singleGene" type="text" placeholder="e.g.'Col1a1'">
                  </div>
                </div>
              </div>
              <div class="field is-hidden" id="selectCelltypeUnified">
                <label class="label">Select Cell Type</label>
                <div class="control">
                  <div class="select" style="width:80%;">
                    <select id="celltypeSelection" style="width:100%;">
                      
                    </select>
                  </div>
                </div>
              </div>
              <div class="field" id="plotType">
                <label class="label">Plot type</label>
                <div class="control">
                  <div class="select" style="width:80%;">
                    <select id="selectPlotType" style="width:100%;">
                      <option value="heatmap" selected>Heatmap</option>
                      <option value="dot">Dot Plot</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="field" id="dataType">
                <label class="label">Data type</label>
                <div class="control">
                  <div class="select" style="width:80%;">
                    <select id="selectDataType" style="width:100%;">
                      <option value="cpm" selected>CPM(counts/million)</option>
                      <option value="log">Log10 transformed</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="field" id="dataOrder">
                <label class="label">Data order</label>
                <div class="control">
                  <div class="select" style="width:80%;">
                    <select id="selectDataOrder" style="width:100%;">
                      <option value="original">Original</option>
                      <option value="clustered">Hierachical Clustered</option>
                    </select>
                  </div>
                </div>
              </div>
          </div>
            <div class="column">  
                {% include 'explore_info.html' %}  
                <!-- Display Plots belong this section -->
                <div class="block">
                  <div class="box mx-3 my-3" id="displayPlot"></div>
                  <div class="box mx-3 my-3 is-hidden" id="dotPlot"></div>
                  <div class="box mx-3 my-3" id="scatterPlot"></div>
                  <div class="box mx-3 my-3 is-hidden" id="displayPlotDataset">
                    <div id="dataset_1"></div>
                    <div id="dataset_2"></div>
                    <div id="dataset_3"></div>
                  </div>
                  <div class="box mx-3 my-3 is-hidden" id="dotPlotDataset"></div>
                  <div class="box mx-3 my-3 is-hidden" id="displayPlotUnified"></div>
                  <div class="box mx-3 my-3 is-hidden" id="dotPlotUnified"></div>
                  <div class="box mx-3 my-3 is-hidden" id="displayPlotUnifiedByCell"></div>
                  <div class="box mx-3 my-3 is-hidden" id="dotPlotUnifiedByCell"></div>
                  <div class="box mx-3 my-3 is-hidden" id="displayPlotMarkers"></div>
                  <div class="box mx-3 my-3 is-hidden" id="dotPlotMarker"></div>
                </div>
            </div>
        </div>
    </div> 
  </div>
  <script src="/js/scatterPlot.js"></script>
  <script src="/js/dotPlot.js"></script>
  <script src="/js/exploreGeneral.js"></script>
  <script src="/js/exploreDatasets.js"></script>
  <script src="/js/exploreUnified.js"></script>
  <script src="/js/exploreUnifiedByCell.js"></script>
  <script src="/js/exploreMarkers.js"></script>
  <script src="/js/dotPlotMarkers.js"></script>
  <script src="/js/dotPlotUnified.js"></script>
  <script src="/js/eventsController.js"></script>
</body>
</html>