<!-- explore General -->
<div id="num_genes_div" class="my-2 mx-3">
	<span class="has-text-weight-bold has-text-info" id="num_genes"></span>
	<span>&nbsptotal genes found</span>
</div>
<!-- explore dataset and unified -->
<div id="timepoint_info" class="mt-2 mx-3 is-hidden">
  <span class="has-text-weight-bold">Timepoints:&nbsp&nbsp</span>
  <span class="has-tooltip-bottom" data-tooltip="Embryonic Day &#10 E18.5 (early saccular stage)">
    <i class="far fa-question-circle"></i>
    <span>E&nbsp&nbsp&nbsp</span>
  </span>
  <span class="has-tooltip-bottom" data-tooltip="Postnatal Day &#10P1 (late saccular) &#10P7 (early alveolar) &#10P21 (late alveolar)">
    <i class=" far fa-question-circle"></i>
    <span>P&nbsp&nbsp&nbsp</span>
  </span>
  <span class="has-tooltip-bottom" data-tooltip="Months">
    <i class="far fa-question-circle"></i>
    <span>m</span>
  </span>
</div>
<br>
<div id="blank_info" class="mx-3 is-hidden">
	<p class="has-text-danger">
		* Note that: When a cell type does not exist in specific timepoints, it will be blank in the heatmap.
	</p>
</div>
<div id="blank_info_2" class="mx-3 is-hidden">
	<p class="has-text-danger">
		* Note that: Some cell type does not exist in specific timepoints, therefore the timepoint being display in y-axis will change accordingly.
	</p>
</div>
<!-- explore markers -->
<div class="level is-hidden mx-3" id="sum_markers">
	<!-- Left side -->
	<div class="level-left">
		<div class="level-item">
			<span class="has-text-weight-bold has-text-info" id="num_markers"></span>
			<span>&nbsptotal marker genes found</span>
		</div>
	</div>
    <!-- Right side -->
	<div class="level-right" id="rank_markers">
		<div class="control">
			<div class="select">
				<select id="selectTopMarkers">
				<option value="all" selected>show all</option>
				<option value="top30">top 30</option>
				<option value="top20">top 20</option>
				<option value="top10">top 10</option>
			</select>
		</div>
		</div>
	</div>
</div>
<div id="markers_info" class="mx-3 is-hidden">
	<p class="has-text-danger">
		* Note that: Colour normalised based on the selected cell type expression. Please hover to see original expression in CPM.
	</p>
</div>