<head>
	<link rel="stylesheet" href="/css/footer.css">
</head>
<footer class="has-text-white section is-small myfooter">
	<div style="height: 80px; display: inline-block;">
		<img src="../static/img/fabilab_logo.png" href="https://fabilab.org/" style="height: 100%;"/>
	</div>
	<div class="is-size-7" style="display: inline-block;">
		<p><strong class="has-text-white">Supported by:</strong> Fabilab (https://fabilab.org/)<br />
		<strong class="has-text-white">E-mail:</strong> yingxu0928@gmail.com, fabio.zanini@fastmail.fm<br />
		<strong class="has-text-white">Address:</strong> Level 2, Lowy Cancer Research Centre UNSW Sydney, Kensington NSW 2052</p>
	</div>
</footer>  