<footer class="footer" style="background-color:#283b4f">
	<div class="columns has-text-white">
		<div class="column is-one-quarter">
			<img src="../static/img/fabilab_logo.png" href="https://fabilab.org/" style="max-height:100px"/>
		</div>
		<div class="column">
			<p><b>Supported by:</b> Fabilab (https://fabilab.org/)</p>
			<p><b>E-mail:</b> yingxu0928@gmail.com, fabio.zanini@fastmail.fm</p>
			<p><b>Address:</b> Level 2, Lowy Cancer Research Centre UNSW Sydney, Kensington NSW 2052</p>
		</div>

	</div>
</footer>  