{% extends 'base.html' %}
{% block content %}

  <!-- Tabs enable user to visualise heat map with normalisation method and hierachical clustered -->
  <div class="columns is-mobile is-centered tab-area">
    <div class="field column is-one-quarter">
      <label class="label">Data values</label>
      <div class="control">
        <div class="tabs is-toggle is-centered">
          <ul>
            <li id="cpmTab" class="is-active">
              <a id="CPMOnClick">CPM(count/million)</a>
            </li>
            <li id="logTab">
              <a id="log10OnClick">Log10</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="field column is-one-quarter">
      <label class="label">Cell type ordering</label>
      <div class="control">
        <div class="tabs is-toggle is-centered">
          <ul>
            <li id="originalOrderTab" class="is-active">
              <a id="originalOnClick">Original</a>
            </li>
            <li id="hierachicalTab">
              <a id="hClusterOnClick">Hierachical Clustered</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Plots below -->
  <div class="container" id="dataDisplay">
    <div id="gene_suggestions"></div>
    <div id="h5_data_plot"></div>   
    <div id="scatter_plot"></div>
  </div>

  <script src="/js/scatterPlot.js"></script>
  <script src="/js/heatMap.js"></script>
  <script src="/js/events.js"></script>
  <script>
    $("#resetOnClick").click(function() {
        if(! $('#scatter_plot').is('empty')) {
            $('#scatter_plot').empty();
          }
        $.ajax({
            type:'GET',
            url:'/data',
              data: "gene_names={{searchstring}}&plot_type=original&data_type=original",
            dataType:'json',
            success: function(result) {
                HeatMap(result, "h5_data_plot");
            },
            error: function (e) {
            alert('Request data Failed')
            }
        });
        $("#searchGeneName").val("");
        $("#originalTab").addClass('is-active');
        $("#logTab").removeClass('is-active');
        $("#hierachicalTab").removeClass('is-active');
    })

    $(document).ready(function() {
        $.ajax({
            type:'GET',
            url:'/data',
            data: "gene_names={{searchstring}}&plot_type=original&data_type=original",
            dataType:'json',
            success: function(result) {
                HeatMap(result, "h5_data_plot");
            },
            error: function (e) {
            alert('Request data Failed')
            }
        });
        $("#originalTab").addClass('is-active');
    })
  </script>

{% endblock %}
