<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Escellearn</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
  </head>
  <body>
  <!-- Navigation Bar -->
  <nav class="navbar is-fixed-top has-shadow is-spaced is-white" >
    <div class="navbar-brand">
      <div class="navbar-item">
        <img src="./logo.png" style="max-height:2.5rem"/>
      </div>
    </div>
    <div class="navbar-end">
		<a class="navbar-item" onclick="window.location.href='/'">
			About
		</a>
		<a class="navbar-item" onclick="window.location.href='/dataExplore'">     
			Explore Data
		</a>
		<a class="navbar-item" onclick="window.location.href='/about'">
			User Guide
		</a>
		<a class="navbar-item is-active" onclick="window.location.href='/resources'">     
			Resources
		</a>
    <a class="navbar-item" onclick="window.location.href='/package'">     
			Install Package
		</a>
    </div>
  </nav>
  <!-- Tabs enable user to visualise heat map with normalisation method and hierachical clustered -->
  <section class="hero is-medium" style="background-color:#f5f8fa">
	<div class="hero-body mt-6">
		<p class="title is-size-5">
            Escellearn is supported by the Fabilab located in Randwick, Nsw
        </p>
        <p class="subtitle is-size-6 has-text-justified my-6 mr-6">
            <a href="https://fabilab.org/">https://fabilab.org/</a>
        </p>
        <p class="title is-size-5">
            Paper and data resources:
        </p>
        <p class="subtitle is-size-6 has-text-justified mt-auto mr-6">
            Progressive Increases in Mesenchymal Cell Diversity Modulate Lung Development and are Attenuated by Hyperoxia
            Fabio Zanini, Xibing Che, Nina Suresh, Carsten Knutsen, Paula Klavina, Yike Xie, Racquel Domingo-Gonzalez, Robert C. Jones, Stephen R Quake, Cristina Alvira, David N. Cornfield
            bioRxiv 2021.05.19.444776; doi: https://doi.org/10.1101/2021.05.19.444776
        </p>
	</div>
  </section>
  <footer class="footer" style="background-color:lightslategrey">
	<div class="content has-text-centered">
	</div>
  </footer>  
</body>
</html>