<div id="timepoint_info" hidden>
  <span class="has-text-weight-bold">Timepoints:&nbsp&nbsp</span>
  <span class="has-tooltip-bottom" data-tooltip="Embryonic Day">
    <i class="far fa-question-circle"></i>
    <span>E&nbsp&nbsp&nbsp</span>
  </span>
  <span class="has-tooltip-bottom" data-tooltip="Postnatal Day">
    <i class=" far fa-question-circle"></i>
    <span>P&nbsp&nbsp&nbsp</span>
  </span>
  <span class="has-tooltip-bottom" data-tooltip="Months">
    <i class="far fa-question-circle"></i>
    <span>m</span>
  </span>
</div>