<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Escellearn</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
  </head>
  <body>
  <!-- Navigation Bar -->
  <nav class="navbar is-fixed-top has-shadow is-spaced is-white" >
    <div class="navbar-brand">
      <div class="navbar-item">
        <img src="./logo.png" style="max-height:2.5rem"/>
      </div>
    </div>
    <div class="navbar-end">
		<a class="navbar-item" href="http://127.0.0.1:5000/">
			About
		</a>
		<a class="navbar-item" href="http://127.0.0.1:5000/dataExplore">     
			Explore Data
		</a>
		<a class="navbar-item is-active" href="http://127.0.0.1:5000/userGuide">
			User Guide
		</a>
		<a class="navbar-item" href="http://127.0.0.1:5000/resources">     
			Resources
		</a>
		<a class="navbar-item" href="http://127.0.0.1:5000/package">     
			Install Package
		</a>
    </div>
  </nav>
  <!-- Tabs enable user to visualise heat map with normalisation method and hierachical clustered -->
  <div class="mt-7 has-text-centered" style="background-color:#f5f8fa;padding-top:10%;padding-bottom:10%;">
    <div class="block my-6">
        <img src="../static/img/user_guide_screenshot/generalHeatmap.png" style="max-width: 70%";/>
    </div>
    <div class="block my-6">
        <img src="../static/img/user_guide_screenshot/datasetHeatmap.png" style="max-width: 70%"/>
    </div>
    <div class="block my-6">
        <img src="../static/img/user_guide_screenshot/heatmapMarker.png" style="max-width: 70%;"/>
    </div>
    <div class="block my-6">
        <img src="../static/img/user_guide_screenshot/markerDotPlot.png" style="max-width: 70%;"/>
    </div>
</div>
{% include 'footer.html' %}
</body>
</html>