.plot_container {
    padding: 10px;
}

.tab-area {
    margin-top: 120px;
    text-align: center;
}

#timepoint_info {
    margin: 30px;
    cursor: pointer;
}

#geneSuggestions {
    text-align: center;
    text-decoration: underline;
    border-radius: 6px;
}

#geneSuggestions:hover {
    color: #FFFFFF;
    background-color: #485fc7;
}

#AudioRecordButton {
    text-align: center;
    margin: 150px;
}

#FAQs {
 margin-left: 150px;
}

#FAQsText {
 padding-top: 20px;
}

.askBar {
 padding: 10px;
}

.askSubmit {
 padding: 10px;
}

.cthead {
 font-weight: bolder;
 padding: 10px;
}

.P:hover,.E:hover,.m:hover {
    color:rgb(22,132,212);
}
